.product {
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new {
    color: var(--orange);
    font-size: 14px;
}

.title {
    line-height: 44px;
    font-size: 40px;
    color: var(--black);
}

.aboutes {
    max-width: 445px;

}

.desc {
    font-size: 14px;
    color: var(--black);
    line-height: 25px;
    opacity: 50%;
    font-weight: 400;
}

.specialProduct {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 160px;
    justify-content: space-between;
}